.componentInCreation {
    padding: 0.775rem 1rem;
    background-color: var(--kt-input-solid-bg);
    border-radius: 0.475rem;
    border-color: var(--kt-input-solid-bg);
    color: var(--kt-input-solid-color);
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5;
}